
<div class="ct" id="t1">
 <div class="ct" id="t2">
        <section>  
          <nav class="navbar-vertical">
            <ul>
              <a href="#t1" style="color:white"><li  id="uno">
                <img src="./assets/images/home.png" alt="./assets/images/userlogo.png" 
                class="icon-menu"/><br/><a>Home</a></li></a>
              <a href="#t2" style="color:white"><li  id="dos">
                <img src="./assets/images/userlogo.png" alt="./assets/images/userlogo.png" 
                class="icon-menu"/><br/><a>Usuarios</a></li></a>
            </ul>
          </nav>
          
          <div class="page" id="p1">
            
            <app-loginscreen></app-loginscreen>
          </div>

          <div class="page" id="p2">
            <app-datascreen></app-datascreen>
          </div>  
          
        
        </section>
         
   </div>
  </div>

