
<div #searcher class="searchbar">
    <img (click)="search()" id="navimg" src="./../../assets/images/search.png" alt="./../../assets/images/search.png"/>
    <p style="margin-right: 20px;"> Busqueda por:</p>
    <p class="label">Nombre: <input #name name="name" id="search" type="search"></p>
    <p class="label">Apellido: <input #firstname name="firstname" id="search" type="search"></p>
    <p class="label">Segundo Apellido: <input #secondname name="secondname" id="search" type="search"></p>
   
</div>
<div id="container" *ngIf="authenticated==true else Identificate">
    
    <div #cards class="cards" *ngFor="let user of users">
        <div class="flip-card " id="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <br/>
                    <a class="headerDoc">{{user.identity.name}} {{user.identity.firstname}}  {{user.identity.secondname}}</a>
                    <a class="headerDocA" style="font-size: 49px;">Birth Date: {{user.identity.dateofbirth}}</a>
                    <a class="headerDocA" style="font-size: 49px;margin-left: 93px;">Sex: {{user.identity.sex}}</a>

                    <h3 class="header2Doc" style="font-size: 49px;margin-top: 10px;">Interesting Data</h3>
                    <div id="elemDocContainer">
                        <a>Bank: {{user.bank_money}}<span style="font-size: 0.5em;font-family: 'Courier New', Courier, monospace;">&#36;</span></a><br/>
                        <a>Phone: {{user.phone_number}}</a><br/>
                        <a>Licences: </a>
                        <div *ngFor="let lic of user.licenses | keyvalue" style="margin-left: 20px;">
                            <a>{{lic.key}} - {{lic.value}}</a>
                            
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <br/>
                    <a class="backHeader">Job</a>
                    <div id="jobContainer">
                        <a>Company:{{user.job.name}}</a>
                        <a>name: </a>
                        <a>Grade:</a> 
                        <a>Salary:</a> 
                    </div>
                    <table id="vehicleTable">
                        <thead>
                            <th>Vehicles</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let v of user.vehicles | keyvalue">
                                <td>{{v.value.model}}</td>
                                <td>{{v.value.plate}}</td>
                            </tr>
                           
                        </tbody>
                    </table>>
                </div>
            </div>
          </div>
    </div>
    
</div>
<ng-template #Identificate>
    <h1 style="margin: 10px;">Identificate</h1>
</ng-template>