<div id="container" *ngIf="authenticated==true else Identificate">
    <div #searcher>
        <p class="s">Nombre: <input name="search" id="search" type="search"></p>
        <p class="s">Apellido: <input name="search" id="search" type="search"></p>
        <p class="s">Segundo Apellido: <input name="search" id="search" type="search"></p>
    </div>
    <div #cards class="cards" *ngFor="let item of empleados">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
               
              </div>
              <div class="flip-card-back">
                
              </div>
            </div>
          </div>
    </div>
    
</div>
<ng-template #Identificate>
    <h1>Identificate!!</h1>
</ng-template>