
<div #searcher class="searchbar">
    <img (click)="search()" id="navimg" src="./../../assets/images/search.png" alt="./../../assets/images/search.png"/>
    <p style="margin-right: 20px;"> Busqueda por:</p>
    <p class="label">Nombre: <input #name name="name" id="search" type="search"></p>
    <p class="label">Apellido: <input #firstname name="firstname" id="search" type="search"></p>
    <p class="label">Segundo Apellido: <input #secondname name="secondname" id="search" type="search"></p>
   
</div>
<div id="container" *ngIf="authenticated==true else Identificate">
    
    <div #cards class="cards" *ngFor="let item of empleados">
        <div class="flip-card " id="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <br/>
                    <a class="headerDoc">Nombre Apellido</a>
                    <a class="headerDocA" style="font-size: 49px;">Edad: 36</a>
                    <a class="headerDocA" style="font-size: 49px;margin-left: 93px;">Sexo: M</a>

                    <h3 class="header2Doc" style="font-size: 49px;margin-top: 10px;">Interesting Data</h3>
                    <div id="elemDocContainer">
                        <a>Bank: xxxxxxxxxx $</a><br/>
                        <a>Phone: XXXXXXXX</a><br/>
                        <a>Licences: </a>
                        <div style="margin-left: 20px;">
                            <a>Licence: </a>
                            <a>Licence: </a>
                            <a>Licence: </a>
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <br/>
                    <a class="backHeader">Empleo</a>
                    <div id="jobContainer">
                        <a>Name:</a>
                        <a>label:</a>
                        <a>Grade:</a> 
                        <a>Salary:</a> 
                    </div>
                    <table id="vehicleTable">
                        <thead>
                            <th>Vehicles</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>qqq</td>
                                <td>qqq</td>
                                <td>qqq</td>
                            </tr>
                            <tr>
                                <td>qq</td>
                                <td>qq</td>
                                <td>qq</td>
                            </tr>
                            <tr>
                                <td>qq</td>
                                <td>qq</td>
                                <td>qq</td>
                            </tr>
                            <tr>
                                <td>qq</td>
                                <td>qq</td>
                                <td>qq</td>
                            </tr>
                        </tbody>
                    </table>>
                </div>
            </div>
          </div>
    </div>
    
</div>
<ng-template #Identificate>
    <h1 style="margin: 10px;">Identificate</h1>
</ng-template>